<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Snoozebot | Snooze slack messages for later with the ⏰ emoji.</title>
  <meta name="slack-app-id" content="AC16N8FGB">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="icon" type="image/x-icon" href="{{assetsDir}}/favicon.ico" />
  <link rel="stylesheet" href="{{assetsDir}}/normalize.css">
  <link rel="stylesheet" href="{{assetsDir}}/skeleton.css">
  <link rel="stylesheet" href="{{assetsDir}}/style.css">
</head>
<body>
  <div class="container">
    <div class="navbar-spacer"></div>
    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <li class="navbar-item">
            <a href="https://twitter.com/share" class="twitter-share-button"
              data-url="https://snoozbot.now.sh" data-text="Snoozebot | Snooze
              slack messages for later with the ⏰ emoji." data-via="pauldariye"
              data-related="pauldariy">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          </li>
          <li class="navbar-item">
            <iframe
              src="http://ghbtns.com/github-btn.html?user=pauldariye&repo=snoozebot&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
          </li>
          <li class="navbar-item">
            <iframe src="http://ghbtns.com/github-btn.html?user=dhg&repo=snoozebot&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
          </li>
        </ul>
      </div>
    </nav>
    <section class="header">
      <h1>Snooze</h1>
      <a href="https://slack.com/oauth/authorize?client_id=289290819732.409226287555&scope=identity.team:read:user,identity:read:user,reactions:read,team:read,users:read,channels:history,groups:history,groups:read,channels:read,chat:write,reminders:write:user"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>
      <p>Lorem text</p>
    </section>
    <div class="docs-section" id="intro">
      <h6 class="docs-header">Why snoozebot?</h6>
      <p>You should use Skeleton if you're embarking on a smaller project or just don't feel like you need all the utility of larger frameworks. Skeleton only styles a handful of standard HTML elements and includes a grid, but that's often more than enough to get started. In fact, <u>this site is built on Skeleton and has ~200 lines of custom CSS</u> (half of which is the docking navigation).</p>
      <p>Love Skeleton and want to Tweet it, share it, or star it? Well, I appreciate that <3</p>
    </div>
  </div>
  <script type="text/javascript" src="{{assetsDir}}/app.js"></script>
</body>
</html
